body,
html {
  font-family: "Mingzat", sans-serif;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-items: center;
}

h1 {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.bingoCont {
  width: 90%;
  justify-items: center;
  display: block;
  margin: auto;
}

.newNumbers {
  margin: 1%;
  border: 2px solid black;
  display: inline-block;
  justify-items: center;
  width: 4%;
  height: 4%;
}

.newCheckerNumbers {
  
}

.hidden {
  display: none;
  visibility: hidden;
}
